/*
GOTC: Group Order TV Channels
Copyright © 2022 Donatas Klimašauskas

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, monospace;
    text-shadow: 0 0 .1em white;
}

p:first-of-type {
    text-decoration-line: underline;
}

body,
a {
    color: white;
}

input[type=submit] {
    color: black;
}

form {
    padding: 1em 0;
}

div {
    font-weight: bold;
}

ol { /* Own counter seems to allow finer formatting. */
    padding: unset;
    list-style-position: inside;
    list-style-type: none;
    counter-set: channels;
}

.swap {
    color: #dc63ff;
    text-shadow: 0 0 .1em #dc63ff;
}

.insert {
    color: #27a4ca;
    text-shadow: 0 0 .1em #27a4ca;
}

#mode > span::before {
    content: attr(class);
    text-transform: capitalize;
}

#move > span:last-child {
    font-size: x-large;
}

li::before {
    padding-left: 1em;
    counter-increment: channels;
    content: counter(channels) ' ';
}

li span {
    display: inline-table;
    min-width: 3em; /* Visually equally accommodate 1..999 channels. */
    padding: .7em .4em;
}

li { /* Do not move on mouse in/out. */
    border: 2px solid black;
}

li:hover {
    border: 2px solid white;
    box-shadow: inset 0 0 4px white;
}

.tomove {
    background-color: #122f05;
    border-color: #3e7b23;
}

li:hover,
.tomove {
    border-radius: 4px;
}

#dash {
    position: fixed;
    right: 0;
    top: 0;
    padding: .5em;
    text-align: right;
}

#mode,
#move {
    padding: .3em;
}

body,
#dash {
    background-color: black;
}

#move {
    display: none;
}

.moved {
    text-decoration: underline;
}

@media print {
    * {
	color: unset !important;
	text-shadow: unset !important;
    }

    p,
    div,
    form,
    input {
	display: none;
    }

    #timestamp {
	display: block;
    }

    h1,
    #timestamp {
	text-align: center;
    }

    li {
	border: none;
    }

    li::before {
	padding-left: 0;
	content: counter(channels) ' ←';
    }
}
